.cluster-marker {
  font-size: 12px;
  color: #fff;
  background: #51bbd6;
  border-radius: 50%;
  /* height: 36px;
  width: 36px; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.marker-button {
  color: #fff;
  background: #51bbd6;
  text-decoration: none;
  border-radius: 100%;
  padding: 7px;
  border: 0;
  z-index: 1;
}

.mapboxgl-popup {
  z-index: 5;
}

.landmark-button {
  background:#f28cb1;
}
