.cluster-marker {
  color: #fff;
  background: #ba752b;
  border-radius: 50%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.marker-button {
  color: #fff;
  background: #ad886c;
  text-decoration: none;
  border-radius: 100%;
  padding: 10px;
  border: 0;
}
